@media screen and (max-width: 1280px) {
  .carousel-container {
    width: 100%;
    height: auto;
  }
  main p {
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
  }
  main ul {
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
  }
  .nav-link:hover {
    background-color: unset;
    color: rgba(81, 5, 100, 0.986) !important;
  }
}
